@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body{
    background: url(img/survey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255, 0.3));
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
    width: 600px;
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

.quiz-num{
    position: absolute;
    left: 520px;
    font-size: 20px;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #afafaf;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:focus{
    outline: none;
}


button.next{
    background-color: #8e44ad;
    cursor: pointer;
}

button.next:hover{
    background-color: #722d91;
}

button.next:focus{
    outline: none;
    background-color: #5e3370;
}

